<div class="container">
  <p>
    <mat-toolbar color="primary">
      <span>Cats App</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>

  <form class="example-form inputs-block">
    <mat-form-field class="example-full-width input">
      <mat-label>Find a Cat</mat-label>
      <input matInput [formControl]="searchControl" type="search" class="form-control">
    </mat-form-field>

    <mat-form-field class="example-full-width input">
      <mat-label>Select quantity</mat-label>
      <input matInput [formControl]="limitValue" type="number" class="form-control" min="1" max="100">
    </mat-form-field>
  </form>
  
  <ul class="cats-list" >
    <li class="cat-item" *ngFor="let cat of cats$ | async">
      <img class="cat-img" src="{{cat.url}}" alt="cat-image">
      <div matStepLabel class="cat-title">{{ cat.breeds.length === 0 ? 'Mutt' : cat.breeds[0].name }}</div>
    </li>
  </ul>
</div>
